
nav {
    position: fixed;
    z-index: 10;
    left: 0;
    right: 0;
    top: 0;
    font-family: Montserrat , sans-serif;
    height: 100px;
    background-color: #b3c6ff;
    padding: 0 5%;


}

nav img {
    border-radius: 50%;
    margin-left: 20px;
    
}
nav .logo {
    float: left;
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 24px;
    color: #fff;
    
}

nav .logo h1 {
     padding-left: 10%;
     padding-right: 30%;
     font-family: 'Dancing Script',
     cursive;
     color: indigo;
     
}
nav .navigacija {
    float: right;
    padding: 0;
    margin: 0;
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;


}
nav .navigacija li {
    list-style: none;

}

nav .navigacija a {
    display: block;
    padding: 1em;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;

}

#nav-toggle {
    position: absolute;
    top: -100px;
}

nav .icon-burger {
    display: none;
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
}
nav .icon-burger .line {
    width: 30px;
    height: 5px;
    background-color: #fff;
    margin: 5px;
    border-radius: 3px;
          transition: all .3s ease-in-out;


}







.hero-section {
    background-image: url('../slike/p5.jpg');
    padding-top: 125px;
    padding-bottom: 115px;
    background-position: center;
    margin-top: 10%;
}

.hero-section h1 {
    font-size: 52px;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
}

.hero-section p {
    font-size: 25px;
    color: #fff;
}

.how-it-works-section {
    text-align: center;
    background-image: url('../slike/pozadinavideo.jpg');
    color: #fff;
    background-size: cover;
    padding-top: 50px;
}

.text-izmedju {
    text-align: center;
}

.how-it-works-section img {
    width: 70%;
}

.how-it-works-section a {
    display: block;
    position: relative;
    bottom: -30px;
}

.how-it-works-section .modal .modal-dialog {
    max-width: 400px;
}

.how-it-works-section .modal .modal-dialog .modal-content {
    background-color: transparent;
    border: 0;
}

.how-it-works-section .modal .modal-dialog .modal-content .modal-header {
    border-bottom: 0;
}

.how-it-works-section .modal .modal-dialog .modal-content .modal-header button {
    color: #fff;
    font-size: 50px;
}

.size {
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
}

.rasa {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
    margin-left: 10px;
    margin-right: 10px;

}
.rasa img {
    max-width: 100%;
    border-radius: 30%;
    display: flex;
    text-align: center;
    margin-left: 60px;
   
    
    
}

.rasaopis {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
    margin-bottom: 10%;
}

.rasaopis h4 {
    max-width: 100%;
    text-align: center;
    display: flex;
    margin-left: 150px;
    
    


}




.pom {
    height: 400px;
    margin-bottom: 150px;
    text-align: center;

}

.pom h3 {
    text-align: center;
    background-color: #3366ff;
    width: 267px;
    display: inline-block;

}







.pre-header1 {
    background-color: #b3c6ff;
    height: 70px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.pre-header1 h2 {
    margin-top: 15px;
    color: #141414;
    text-align: center;
}

.pre-header1 h3 {
    text-align: center;
    margin-top: 20px;
}

.pre-header1 a {
    font-size: 50px;
    padding-left: 30px;
    margin-left: 5%;
    text-align: center;

}





.slika {
    margin-top: 50px;
    text-align: center;


}

.slika img {
    border-radius: 50px;
    text-align: center;
    width: 100%;
}





.opis {
    text-align: center;
    margin-top: 50px;
    
    margin-top: 5%;
    margin-bottom: 5%;

}

.opis h1 {
    text-align: center;

}

.pre-header1 a :hover {
    color: #00cc00;
}



.poruka {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
    width: 90%;
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0px 0px 20px #00000010;
    background-color: #3366ff;
    border-radius: 10px;
    margin-bottom: 20px;
    margin-top: 50px;


}

.form-group {
    width: 100%;
    margin-top: 20px;
    font-size: 20px;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 5px;
    font-size: 18px;
    margin-top: 5px;


}

textarea {
    resize: vertical;

}

button[type="submit"] {
    width: 100%;
    border: none;
    outline: none;
    padding: 20px;
    font-size: 24px;
    border-radius: 8px;
    font-family: 'Montserrat';
    color: rgb(231, 18, 64);
    text-align: center;
    cursor: pointer;
    margin-top: 10px;
    transition: .3s ease background-color;


}

button[type="submit"]:hover {
    background-color: aqua;

}

#status {
    width: 90%;
    max-width: 500px;
    text-align: center;
    padding: 10px;
    margin: 0 auto;
    border-radius: 10px;

}

#status.success {
    background-color: greenyellow;
    animation: status 4s ease forwards;

}

#status.error {
    background-color: crimson;
    color: darkgrey;
    animation: status 4s ease forwards;

}

@keyframes status {
    0% {
        opacity: 1;
        pointer-events: all;
    }

    90% {
        opacity: 1;
        pointer-events: all;
    }

    100% {
        opacity: 0;
        pointer-events: none;
    }
}

.contactus1 {
    text-align: center;
    margin-top: 30px;

}



.novifooter {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: yellow;
}


.novifooter h2 {
    text-align: center;
    max-width: 100%;


}


.novifooter a {
    text-align: center;

}
























@media screen and (max-width: 1500px) {

nav {
    margin-bottom: 0px;
}

    .hero-section h1 {
        font-size: 40px;
    }

    .rasaopis {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 10px;
        margin-bottom: 10%;
    }

    .rasaopis h4 {
        max-width: 100%;
        text-align: center;
        display: flex;
        margin-left: 140px;
        font-size: 20px;




    }

    .hero-section {
        margin-top: 15%;
    }

    .size h1 {
        font-size: 25px;
    }

    .opis h1 {
        font-size: 25px;
        margin-top: 35px;

    }

    .contactus1 h1 {
        font-size: 25px;
    }


    .pre-header1 a {
        padding-left: 95px;

    }

    .pre-header1 h2 {
        display: flex;
        font-size: 30px;

    }

    .pre-header1 h3 {
        display: flex;
        font-size: 30px;

    }

    .slika {
        margin-bottom: 10px;
        margin-top: 10px;
        text-align: center;


    }

    .rasa {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 10px;
        
        

    }

    .rasa img {
        max-width: 100%;
        border-radius: 30%;
        display: flex;
        text-align: center;
        margin-left: 30px;



    }



    /*ovde ide media queris za mobilne za formu poruke*/
    .poruka {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        font-family: 'Montserrat';
        width: 90%;
        max-width: 500px;
        margin: 0 auto;
        padding: 10px;
        box-shadow: 0px 0px 30px #00000010;
        background-color: #3366ff;
        border-radius: 10px;
        margin-bottom: 10px;
        margin-top: 10px;


    }

    .form-group {
        width: 100%;
        margin-top: 0px;
        font-size: 20px;
    }

    .form-group input,
    .form-group textarea {
        width: 100%;
        padding: 5px;
        font-size: 15px;
        margin-top: 0px;


    }

    textarea {
        resize: vertical;

    }

    button[type="submit"] {
        width: 100%;
        border: none;
        outline: none;
        padding: 20px;
        font-size: 24px;
        border-radius: 8px;
        font-family: 'Montserrat';
        color: rgb(231, 18, 64);
        text-align: center;
        cursor: pointer;
        margin-top: 0px;
        transition: .3s ease background-color;


    }

    button[type="submit"]:hover {
        background-color: aqua;

    }

    #status {
        width: 90%;
        max-width: 500px;
        text-align: center;
        padding: 10px;
        margin: 0 auto;
        border-radius: 10px;

    }

    #status.success {
        background-color: greenyellow;
        animation: status 4s ease forwards;

    }

    #status.error {
        background-color: crimson;
        color: darkgrey;
        animation: status 4s ease forwards;

    }

    @keyframes status {
        0% {
            opacity: 1;
            pointer-events: all;
        }

        90% {
            opacity: 1;
            pointer-events: all;
        }

        100% {
            opacity: 0;
            pointer-events: none;
        }
    }

   /*ovde ide media queris za mobilne za formu poruke*/

}








@media screen and (max-width: 1500px) {

    nav {
        margin-bottom: 0px;
    }

    .hero-section h1 {
        font-size: 40px;
    }

    .rasaopis {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 10px;
        margin-bottom: 10%;
    }

    .rasaopis h4 {
        max-width: 100%;
        text-align: center;
        display: flex;
        margin-left: 120px;
        font-size: 20px;




    }

    .hero-section {
        margin-top: 15%;
    }

    .size h1 {
        font-size: 25px;
    }

    .opis h1 {
        font-size: 25px;
        margin-top: 35px;

    }

    .contactus1 h1 {
        font-size: 25px;
    }


    .pre-header1 a {
        padding-left: 55px;

    }

    .pre-header1 h2 {
        display: flex;
        font-size: 30px;

    }

    .pre-header1 h3 {
        display: flex;
        font-size: 28px;

    }

    .slika {
        margin-bottom: 10px;
        margin-top: 10px;
        text-align: center;


    }

    .rasa {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 10px;



    }

    .rasa img {
        max-width: 100%;
        border-radius: 30%;
        display: flex;
        text-align: center;
        margin-left: 2px;



    }



    /*ovde ide media queris za mobilne za formu poruke*/
    .poruka {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        font-family: 'Montserrat';
        width: 90%;
        max-width: 500px;
        margin: 0 auto;
        padding: 10px;
        box-shadow: 0px 0px 30px #00000010;
        background-color: #3366ff;
        border-radius: 10px;
        margin-bottom: 10px;
        margin-top: 10px;


    }

    .form-group {
        width: 100%;
        margin-top: 0px;
        font-size: 20px;
    }

    .form-group input,
    .form-group textarea {
        width: 100%;
        padding: 5px;
        font-size: 15px;
        margin-top: 0px;


    }

    textarea {
        resize: vertical;

    }

    button[type="submit"] {
        width: 100%;
        border: none;
        outline: none;
        padding: 20px;
        font-size: 24px;
        border-radius: 8px;
        font-family: 'Montserrat';
        color: rgb(231, 18, 64);
        text-align: center;
        cursor: pointer;
        margin-top: 0px;
        transition: .3s ease background-color;


    }

    button[type="submit"]:hover {
        background-color: aqua;

    }

    #status {
        width: 90%;
        max-width: 500px;
        text-align: center;
        padding: 10px;
        margin: 0 auto;
        border-radius: 10px;

    }

    #status.success {
        background-color: greenyellow;
        animation: status 4s ease forwards;

    }

    #status.error {
        background-color: crimson;
        color: darkgrey;
        animation: status 4s ease forwards;

    }

    @keyframes status {
        0% {
            opacity: 1;
            pointer-events: all;
        }

        90% {
            opacity: 1;
            pointer-events: all;
        }

        100% {
            opacity: 0;
            pointer-events: none;
        }
    }





    /*ovde ide media queris za mobilne za formu poruke*/

}


@media screen and (max-width: 1200px) {

    nav {
        margin-bottom: 0px;
    }

    .hero-section h1 {
        font-size: 40px;
    }

    .rasaopis {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 10px;
        margin-bottom: 10%;
    }

    .rasaopis h4 {
        max-width: 100%;
        text-align: center;
        display: flex;
        margin-left: 90px;
        font-size: 20px;




    }

    .hero-section {
        margin-top: 15%;
    }

    .size h1 {
        font-size: 25px;
    }

    .opis h1 {
        font-size: 25px;
        margin-top: 35px;

    }

    .contactus1 h1 {
        font-size: 25px;
    }


    .pre-header1 a {
        padding-left: 35px;

    }

    .pre-header1 h2 {
        display: flex;
        font-size: 25px;

    }

    .pre-header1 h3 {
        display: flex;
        font-size: 22px;

    }

    .slika {
        margin-bottom: 10px;
        margin-top: 10px;
        text-align: center;


    }

    .rasa {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 10px;



    }

    .rasa img {
        max-width: 100%;
        border-radius: 30%;
        display: flex;
        text-align: center;
        margin-left: 0px;



    }



    /*ovde ide media queris za mobilne za formu poruke*/
    .poruka {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        font-family: 'Montserrat';
        width: 90%;
        max-width: 500px;
        margin: 0 auto;
        padding: 10px;
        box-shadow: 0px 0px 30px #00000010;
        background-color: #3366ff;
        border-radius: 10px;
        margin-bottom: 10px;
        margin-top: 10px;


    }

    .form-group {
        width: 100%;
        margin-top: 0px;
        font-size: 20px;
    }

    .form-group input,
    .form-group textarea {
        width: 100%;
        padding: 5px;
        font-size: 15px;
        margin-top: 0px;


    }

    textarea {
        resize: vertical;

    }

    button[type="submit"] {
        width: 100%;
        border: none;
        outline: none;
        padding: 20px;
        font-size: 24px;
        border-radius: 8px;
        font-family: 'Montserrat';
        color: rgb(231, 18, 64);
        text-align: center;
        cursor: pointer;
        margin-top: 0px;
        transition: .3s ease background-color;


    }

    button[type="submit"]:hover {
        background-color: aqua;

    }

    #status {
        width: 90%;
        max-width: 500px;
        text-align: center;
        padding: 10px;
        margin: 0 auto;
        border-radius: 10px;

    }

    #status.success {
        background-color: greenyellow;
        animation: status 4s ease forwards;

    }

    #status.error {
        background-color: crimson;
        color: darkgrey;
        animation: status 4s ease forwards;

    }

    @keyframes status {
        0% {
            opacity: 1;
            pointer-events: all;
        }

        90% {
            opacity: 1;
            pointer-events: all;
        }

        100% {
            opacity: 0;
            pointer-events: none;
        }
    }





    /*ovde ide media queris za mobilne za formu poruke*/

}






@media screen and (max-width: 900px) {
    nav .logo {
        float: none;
        width: auto;
        justify-content: center;

    }

    nav .logo {
        padding-left: 10px;
    }

    nav .logo h1 {
        padding-left: 10%;
        padding-right: 30%;
        font-family: 'Dancing Script',
            cursive;
        color: indigo;
    }

    nav .navigacija {
        float: none;
        position: fixed;
        overflow: hidden;
        z-index: 9;
        left: 0;
        right: 0;
        top: 100px;
        bottom: 100%;
        width: auto;
        height: auto;
        flex-direction: column;
        justify-content: space-evenly;
        background-color: #000000;

        transition: all .5s ease-in-out;

    }


    nav .navigacija a {
        font-size: 15px;

    }

    nav .icon-burger {
        display: block;
    }

    nav :checked~.navigacija {
        bottom: 0;
    }

    nav :checked~.icon-burger .line:nth-child(1) {

        transform: translateY(10px) rotate(225deg);


    }

    nav :checked~.icon-burger .line:nth-child(3) {

        transform: translateY(-10px) rotate(-225deg);


    }

    nav :checked~.icon-burger .line:nth-child(2) {
        opacity: 0;

    }





    .hero-section h1 {
        font-size: 40px;
    }

    .rasaopis {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 10px;
        margin-bottom: 10%;
    }

    .rasaopis h4 {
        max-width: 100%;
        text-align: center;
        display: flex;
        margin-left: 65px;
        font-size: 20px;




    }

    .hero-section {
        margin-top: 30%;
    }

    .size h1 {
        font-size: 25px;
    }

    .opis h1 {
        font-size: 25px;
        margin-top: 35px;

    }

    .contactus1 h1 {
        font-size: 25px;
    }
    

    .pre-header1 a {
        padding-left: 25px;
        
    }
    .pre-header1 h2 {
        display: flex;
        font-size: 20px;
        
    }
        .pre-header1 h3 {
            display: flex;
            font-size: 20px;
            
        }

    .slika {
        margin-bottom: 10px;
        margin-top: 10px;
        text-align: center;


    }

    .rasa {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 10px;
        margin-left: 10px;
        margin-right: 10px;

    }

    .rasa img {
        max-width: 100%;
        border-radius: 30%;
        display: flex;
        text-align: center;
        margin-left: 1px;



    }



    /*ovde ide media queris za mobilne za formu poruke*/
    .poruka {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        font-family: 'Montserrat';
        width: 90%;
        max-width: 500px;
        margin: 0 auto;
        padding: 10px;
        box-shadow: 0px 0px 30px #00000010;
        background-color: #3366ff;
        border-radius: 10px;
        margin-bottom: 10px;
        margin-top: 10px;


    }

    .form-group {
        width: 100%;
        margin-top: 0px;
        font-size: 20px;
    }

    .form-group input,
    .form-group textarea {
        width: 100%;
        padding: 5px;
        font-size: 15px;
        margin-top: 0px;


    }

    textarea {
        resize: vertical;

    }

    button[type="submit"] {
        width: 100%;
        border: none;
        outline: none;
        padding: 20px;
        font-size: 24px;
        border-radius: 8px;
        font-family: 'Montserrat';
        color: rgb(231, 18, 64);
        text-align: center;
        cursor: pointer;
        margin-top: 0px;
        transition: .3s ease background-color;


    }

    button[type="submit"]:hover {
        background-color: aqua;

    }

    #status {
        width: 90%;
        max-width: 500px;
        text-align: center;
        padding: 10px;
        margin: 0 auto;
        border-radius: 10px;

    }

    #status.success {
        background-color: greenyellow;
        animation: status 4s ease forwards;

    }

    #status.error {
        background-color: crimson;
        color: darkgrey;
        animation: status 4s ease forwards;

    }

    @keyframes status {
        0% {
            opacity: 1;
            pointer-events: all;
        }

        90% {
            opacity: 1;
            pointer-events: all;
        }

        100% {
            opacity: 0;
            pointer-events: none;
        }
    }

/* media queries */




    /*ovde ide media queris za mobilne za formu poruke*/

}
@media screen and (max-width: 766px) {
    nav .logo {
        float: none;
        width: auto;
        justify-content: center;

    }

    nav .logo {
        padding-left: 10px;
    }

    nav .logo h1 {
        padding-left: 10%;
        padding-right: 30%;
        font-family: 'Dancing Script',
            cursive;
        color: indigo;
    }

    nav .navigacija {
        float: none;
        position: fixed;
        overflow: hidden;
        z-index: 9;
        left: 0;
        right: 0;
        top: 100px;
        bottom: 100%;
        width: auto;
        height: auto;
        flex-direction: column;
        justify-content: space-evenly;
        background-color: #000000;

        transition: all .5s ease-in-out;

    }


    nav .navigacija a {
        font-size: 15px;

    }

    nav .icon-burger {
        display: block;
    }

    nav :checked~.navigacija {
        bottom: 0;
        margin-bottom: 50%;
    }

    nav :checked~.icon-burger .line:nth-child(1) {

        transform: translateY(10px) rotate(225deg);


    }

    nav :checked~.icon-burger .line:nth-child(3) {

        transform: translateY(-10px) rotate(-225deg);


    }

    nav :checked~.icon-burger .line:nth-child(2) {
        opacity: 0;

    }





    .hero-section h1 {
        font-size: 40px;
    }

    .rasaopis {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 10px;
        margin-bottom: 10%;
    }

    .rasaopis h4 {
        max-width: 100%;
        text-align: center;
        display: flex;
        margin-left: 35px;
        font-size: 23px;

    }

    .hero-section {
        margin-top: 30%;
    }

    .size h1 {
        font-size: 25px;
    }

    .opis h1 {
        font-size: 25px;
        margin-top: 35px;

    }

    .contactus1 h1 {
        font-size: 25px;
    }
    .pre-header1 h2 {
        max-width: 100%;
         padding-left: 170px;
    }
    .pre-header1 h3 {
        max-width: 100%;
        padding-left: 220px;
    }

    .pre-header1 a {
        padding-left: 65px;
    }

    .slika {
        margin-bottom: 10px;
        margin-top: 10px;
        text-align: center;


    }

    .rasa {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 10px;
        margin-left: 10px;
        margin-right: 10px;

    }

    .rasa img {
        max-width: 100%;
        border-radius: 30%;
        display: flex;
        text-align: center;
        margin-left: 1px;



    }



    /*ovde ide media queris za mobilne za formu poruke*/
    .poruka {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        font-family: 'Montserrat';
        width: 90%;
        max-width: 500px;
        margin: 0 auto;
        padding: 10px;
        box-shadow: 0px 0px 30px #00000010;
        background-color: #3366ff;
        border-radius: 10px;
        margin-bottom: 10px;
        margin-top: 10px;


    }

    .form-group {
        width: 100%;
        margin-top: 0px;
        font-size: 20px;
    }

    .form-group input,
    .form-group textarea {
        width: 100%;
        padding: 5px;
        font-size: 15px;
        margin-top: 0px;


    }

    textarea {
        resize: vertical;

    }

    button[type="submit"] {
        width: 100%;
        border: none;
        outline: none;
        padding: 20px;
        font-size: 24px;
        border-radius: 8px;
        font-family: 'Montserrat';
        color: rgb(231, 18, 64);
        text-align: center;
        cursor: pointer;
        margin-top: 0px;
        transition: .3s ease background-color;


    }

    button[type="submit"]:hover {
        background-color: aqua;

    }

    #status {
        width: 90%;
        max-width: 500px;
        text-align: center;
        padding: 10px;
        margin: 0 auto;
        border-radius: 10px;

    }

    #status.success {
        background-color: greenyellow;
        animation: status 4s ease forwards;

    }

    #status.error {
        background-color: crimson;
        color: darkgrey;
        animation: status 4s ease forwards;

    }

    @keyframes status {
        0% {
            opacity: 1;
            pointer-events: all;
        }

        90% {
            opacity: 1;
            pointer-events: all;
        }

        100% {
            opacity: 0;
            pointer-events: none;
        }
}
}
/* media queries */


@media screen and (max-width: 700px) {
    nav .logo {
        float: none;
        width: auto;
        justify-content: center;

    }

    nav .logo {
        padding-left: 10px;
    }

    nav .logo h1 {
        padding-left: 10%;
        padding-right: 30%;
        font-family: 'Dancing Script',
            cursive;
        color: indigo;
    }

    nav .navigacija {
        float: none;
        position: fixed;
        overflow: hidden;
        z-index: 9;
        left: 0;
        right: 0;
        top: 100px;
        bottom: 100%;
        width: auto;
        height: auto;
        flex-direction: column;
        justify-content: space-evenly;
        background-color: #000000;

        transition: all .5s ease-in-out;

    }


    nav .navigacija a {
        font-size: 15px;

    }

    nav .icon-burger {
        display: block;
    }

    nav :checked~.navigacija {
        bottom: 0;
        margin-bottom: 80%;
    }

    nav :checked~.icon-burger .line:nth-child(1) {

        transform: translateY(10px) rotate(225deg);


    }

    nav :checked~.icon-burger .line:nth-child(3) {

        transform: translateY(-10px) rotate(-225deg);


    }

    nav :checked~.icon-burger .line:nth-child(2) {
        opacity: 0;

    }





    .hero-section h1 {
        font-size: 40px;
    }

    .rasaopis {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 10px;
        margin-bottom: 10%;
    }

    .rasaopis h4 {
        max-width: 100%;
        text-align: center;
        display: flex;
        margin-left: 35px;
        font-size: 13px;




    }

    .hero-section {
        margin-top: 30%;
    }

    .size h1 {
        font-size: 25px;
    }

    .opis h1 {
        font-size: 25px;
        margin-top: 35px;

    }

    .contactus1 h1 {
        font-size: 25px;
    }

    .pre-header1 a {
        padding-left: 65px;
    }
    .pre-header1 h2 {
        padding-left: 140px;
    }

    .pre-header1 h3 {
        padding-left: 190px;
    }

    .slika {
        margin-bottom: 10px;
        margin-top: 10px;
        text-align: center;


    }

    .rasa {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 10px;
        margin-left: 10px;
        margin-right: 10px;

    }

    .rasa img {
        max-width: 100%;
        border-radius: 30%;
        display: flex;
        text-align: center;
        margin-left: 1px;



    }



    /*ovde ide media queris za mobilne za formu poruke*/
    .poruka {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        font-family: 'Montserrat';
        width: 90%;
        max-width: 500px;
        margin: 0 auto;
        padding: 10px;
        box-shadow: 0px 0px 30px #00000010;
        background-color: #3366ff;
        border-radius: 10px;
        margin-bottom: 10px;
        margin-top: 10px;


    }

    .form-group {
        width: 100%;
        margin-top: 0px;
        font-size: 20px;
    }

    .form-group input,
    .form-group textarea {
        width: 100%;
        padding: 5px;
        font-size: 15px;
        margin-top: 0px;


    }

    textarea {
        resize: vertical;

    }

    button[type="submit"] {
        width: 100%;
        border: none;
        outline: none;
        padding: 20px;
        font-size: 24px;
        border-radius: 8px;
        font-family: 'Montserrat';
        color: rgb(231, 18, 64);
        text-align: center;
        cursor: pointer;
        margin-top: 0px;
        transition: .3s ease background-color;


    }

    button[type="submit"]:hover {
        background-color: aqua;

    }

    #status {
        width: 90%;
        max-width: 500px;
        text-align: center;
        padding: 10px;
        margin: 0 auto;
        border-radius: 10px;

    }

    #status.success {
        background-color: greenyellow;
        animation: status 4s ease forwards;

    }

    #status.error {
        background-color: crimson;
        color: darkgrey;
        animation: status 4s ease forwards;

    }

    @keyframes status {
        0% {
            opacity: 1;
            pointer-events: all;
        }

        90% {
            opacity: 1;
            pointer-events: all;
        }

        100% {
            opacity: 0;
            pointer-events: none;
        }
    }




}



@media screen and (max-width: 500px) {
    nav .logo {
        float: none;
        width: auto;
        justify-content: center;

    }
    nav .logo {
        padding-left: 10px;
    }
    nav .logo h1 {
        padding-left: 10%;
        padding-right: 30%;
         font-family: 'Dancing Script',
         cursive;
         color: indigo;
    }
    nav .navigacija {
        float: none;
        position: fixed;
        overflow: hidden;
        z-index: 9;
        left: 0;
        right: 0;
        top: 100px;
        bottom: 100%;
        width: auto;
        height: auto;
        flex-direction: column;
        justify-content: space-evenly;
        background-color: #000000;
        
        transition: all .5s ease-in-out;
        
    }

    
    nav .navigacija a {
        font-size: 15px;

    }
    nav .icon-burger {
        display: block;
    }
    nav :checked ~ .navigacija {
        bottom: 0;
        margin-bottom: 100%;
    }
    nav :checked ~ .icon-burger .line:nth-child(1) {

  transform: translateY(10px) rotate(225deg);


    }
     nav :checked~.icon-burger .line:nth-child(3) {

         transform: translateY(-10px) rotate(-225deg);


     }
     nav :checked~.icon-burger .line:nth-child(2) {
         opacity: 0;

     }





.hero-section h1 {
    font-size: 40px;
}
.rasaopis {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
    margin-bottom: 10%;
}

.rasaopis h4 {
    max-width: 100%;
    text-align: center;
    display: flex;
    margin-left: 20px;
    font-size: 13px;

}

.hero-section {
    margin-top: 30%;
}
.size h1 {
    font-size: 25px;
}
.opis h1 {
    font-size: 25px;
    margin-top: 35px;
     
}
.contactus1 h1 {
font-size: 25px;
}

.pre-header1 a {
    padding-left: 50px;
}
.pre-header1 h2 {
    padding-left: 120px;
    text-align: center;
    padding-top: 2%;
}
.pre-header1 h3 {
    padding-left: 170px;
}
.slika {
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: center;


}
.rasa {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
    margin-left: 10px;
    margin-right: 10px;

}

.rasa img {
    max-width: 100%;
    border-radius: 30%;
    display: flex;
    text-align: center;
    margin-left: 1px;



}



/*ovde ide media queris za mobilne za formu poruke*/
.poruka {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
    width: 90%;
    max-width: 500px;
    margin: 0 auto;
    padding: 10px;
    box-shadow: 0px 0px 30px #00000010;
    background-color: #3366ff;
    border-radius: 10px;
    margin-bottom: 10px;
    margin-top: 10px;


}

.form-group {
    width: 100%;
    margin-top: 0px;
    font-size: 20px;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 5px;
    font-size: 15px;
    margin-top: 0px;


}

textarea {
    resize: vertical;

}

button[type="submit"] {
    width: 100%;
    border: none;
    outline: none;
    padding: 20px;
    font-size: 24px;
    border-radius: 8px;
    font-family: 'Montserrat';
    color: rgb(231, 18, 64);
    text-align: center;
    cursor: pointer;
    margin-top: 0px;
    transition: .3s ease background-color;


}

button[type="submit"]:hover {
    background-color: aqua;

}

#status {
    width: 90%;
    max-width: 500px;
    text-align: center;
    padding: 10px;
    margin: 0 auto;
    border-radius: 10px;

}

#status.success {
    background-color: greenyellow;
    animation: status 4s ease forwards;

}

#status.error {
    background-color: crimson;
    color: darkgrey;
    animation: status 4s ease forwards;

}

@keyframes status {
    0% {
        opacity: 1;
        pointer-events: all;
    }

    90% {
        opacity: 1;
        pointer-events: all;
    }

    100% {
        opacity: 0;
        pointer-events: none;
    }
}





/*ovde ide media queris za mobilne za formu poruke*/


}
/* media queries */

@media screen and (max-width: 440px) {

    nav .logo img {
        margin-left: 55px;

    }

    .rasaopis {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 10px;
        margin-bottom: 10%;
    }

    .rasaopis h4 {
        max-width: 100%;
        text-align: center;
        display: flex;
        margin-left: 0px;
        font-size: 12px;
        padding-left: 20px;

    }

    .pre-header1 a {
            padding-left: 40px;
        }
        .pre-header1 h2 {
            padding-left: 110px;
            text-align: center;
            padding-top: 2%;
        }
        .pre-header1 h3 {
            padding-left: 160px;
        }

 nav :checked~.navigacija {
     bottom: 0;
     margin-bottom: 100%;
     
 }



    }





@media screen and (max-width: 380px) {

    nav .logo img {
        margin-left: 55px;

    }

    .rasaopis {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 10px;
        margin-bottom: 10%;
    }

    .rasaopis h4 {
        max-width: 100%;
        text-align: center;
        display: flex;
        margin-left: 0px;
        font-size: 10px;
        padding-left: 20px;

    }
    .hero-section {
        margin-top: 40%;
    }

    .pre-header1 a {
        padding-left: 30px;
    }
    .pre-header1 h2 {
        padding-left: 80px;
    }
    .pre-header1 h3 {
        padding-left: 130px;
    }


 nav :checked~.navigacija {
     bottom: 0;
     margin-bottom: 90%;
 }



}



@media screen and (max-width: 322px) {

    nav .logo img {
        margin-left: 55px;

    }
.rasaopis {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
    margin-bottom: 10%;
}

.rasaopis h4 {
    max-width: 100%;
    text-align: center;
    display: flex;
    margin-left: 0px;
    font-size: 10px;
    padding-left: 15px;




}

    

    .hero-section {
        margin-top: 40%;
    }

    .pre-header1 a {
        padding-left: 20px;
    }
.size img {
    max-width: 100%;
}
.pre-header1 h3 {
    text-align: center;
    padding-left: 90px;
}
.pre-header1 h2 {
    text-align: center;
    padding-left: 50px;
}


 nav :checked~.navigacija {
     bottom: 0;
     margin-bottom: 90%;
 }

}
